.styles_shelf__AuCxB {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.styles_shelf__AuCxB.styles_center__Hb8KW {
    justify-content: center;
    text-align: center
}

.styles_shelf__AuCxB.styles_left__oNUXV {
    align-items: left
}

.styles_shelf__AuCxB.styles_justify___Ki3i {
    justify-content: space-between
}

.styles_shelf__AuCxB.styles_right__2U_Nm {
    justify-content: flex-end
}

.styles_shelf__AuCxB.styles_bottom__rpbqT {
    align-items: flex-end
}

.styles_shelf__AuCxB.styles_top__zgENi {
    align-items: flex-start
}

.styles_shelf__AuCxB.styles_fill__KEpzv {
    width: 100%
}

.styles_shelf__AuCxB.styles_flex-wrap__F6tkM {
    flex-wrap: wrap
}

.styles_lightGrey500__J5Y4F {
    color: #fefdff
}

.styles_lightGrey600__lAxMZ {
    color: #fcfbff
}

.styles_lightGrey700__Xw3Cl {
    color: #fbfaff
}

.styles_lightGrey800__wyR2W {
    color: #faf8ff
}

.styles_lightGrey900__nwrkA {
    color: #f7f4ff
}

.styles_mediumGrey500__pzMD3 {
    color: #f8f8f8
}

.styles_mediumGrey600__bwXwC {
    color: #f3f3f3
}

.styles_mediumGrey700__gS_ES {
    color: #ebebeb
}

.styles_mediumGrey800__ce8oC {
    color: #dfdfdf
}

.styles_mediumGrey900__M6gqv {
    color: #dadada
}

.styles_darkGrey500__vEBM3 {
    color: #a3a3a3
}

.styles_darkGrey600__n5Ady {
    color: #707070
}

.styles_darkGrey700__6qqEP {
    color: #525252
}

.styles_darkGrey800__xR6bt {
    color: #424242
}

.styles_darkGrey900__TwHYx {
    color: #2b2b2b
}

.styles_neutral50__KADRb {
    color: #f9fafb
}

.styles_neutral100__D4aR9 {
    color: #f3f4f6
}

.styles_neutral200__tYh8z {
    color: #e5e7eb
}

.styles_neutral300__5nEcC {
    color: #d1d5db
}

.styles_neutral400__oVRuy {
    color: #9ca3af
}

.styles_neutral500__J2EyJ {
    color: #6b7280
}

.styles_neutral600__SUmZM {
    color: #4b5563
}

.styles_neutral700__lFvn1 {
    color: #374151
}

.styles_neutral800__lFDly {
    color: #1f2937
}

.styles_neutral900__VSRJC {
    color: #111827
}

.styles_light__irnu6 {
    color: #f2f2f0
}

.styles_dark__rkRum {
    color: #484848
}

.styles_white__CcW1g {
    color: #fff
}

.styles_black__XFl_e {
    color: #000
}

.styles_primary50__MaCqR {
    color: #f4f0ff
}

.styles_primary100__jFxqr {
    color: #e4daff
}

.styles_primary200__M1sWT {
    color: #c9b5ff
}

.styles_primary300__caYTL {
    color: #ad91ff
}

.styles_primary400__SLQcG {
    color: #926cff
}

.styles_primary500__fUQ3x {
    color: #7747ff
}

.styles_primary600__nLhaN {
    color: #693af2
}

.styles_primary700___ASMG {
    color: #5e2fe3
}

.styles_primary800__U4fnl {
    color: #4a1ec6
}

.styles_primary900__jWgDx {
    color: #2d117b
}

.styles_warm50__xBZ1B {
    color: #fffbf0
}

.styles_warm100__j_HPE {
    color: #fff0cc
}

.styles_warm200__T7sXH {
    color: #ffe299
}

.styles_warm300__4TTf7 {
    color: #ffd366
}

.styles_warm400__FO8Q2 {
    color: #ffc533
}

.styles_warm500__XYEzZ {
    color: #ffb600
}

.styles_warm600__vlJJA {
    color: #f2ad00
}

.styles_warm700__C4Rrv {
    color: #e4a300
}

.styles_warm800__DjqcC {
    color: #c88f00
}

.styles_warm900__PtQKP {
    color: #a57600
}

.styles_hope50__K0reZ {
    color: #fffbfd
}

.styles_hope100__RKJ5D {
    color: #fff0f8
}

.styles_hope200__M3rL7 {
    color: #ffe1f0
}

.styles_hope300__gpx9s {
    color: #ffd1e9
}

.styles_hope400__5hcS1 {
    color: #ffc2e1
}

.styles_hope500__E_zy4 {
    color: #ffb3da
}

.styles_hope600__F0kaW {
    color: #faa1cf
}

.styles_hope700__YODrM {
    color: #f283bd
}

.styles_hope800__esFn_ {
    color: #e760a6
}

.styles_hope900__KbmUM {
    color: #c22376
}

.styles_baby50__6fXOQ {
    color: #fefbff
}

.styles_baby100__AVCzb {
    color: #fdf9fe
}

.styles_baby200__XBGRc {
    color: #faf2fd
}

.styles_baby300__W1oFV {
    color: #f8ecfb
}

.styles_baby400__fKQPJ {
    color: #f5e5fa
}

.styles_baby500__GwmeG {
    color: #f3dff9
}

.styles_baby600__cjZiU {
    color: #eecff8
}

.styles_baby700__ioseH {
    color: #deb2ec
}

.styles_baby800__niY_y {
    color: #cc94de
}

.styles_baby900__o4__A {
    color: #ac63c3
}

.styles_blue50__gn9VH {
    color: #f1f7ff
}

.styles_blue100__N2jPn {
    color: #d3e6ff
}

.styles_blue200__Xxi4D {
    color: #a7cdff
}

.styles_blue300__NABQ2 {
    color: #7bb4ff
}

.styles_blue400__aQhmI {
    color: #4f9aff
}

.styles_blue500__7REaz {
    color: #2381ff
}

.styles_blue600__ztK0P {
    color: #0d6ceb
}

.styles_blue700__2uOXn {
    color: #0059d0
}

.styles_blue800__iiTAM {
    color: #004db4
}

.styles_blue900__E_9so {
    color: #00367e
}

.styles_turquoise50__5GFWD {
    color: #f5fdff
}

.styles_turquoise100__hN_s8 {
    color: #e0f7ff
}

.styles_turquoise200__Gc4pF {
    color: #c0f0ff
}

.styles_turquoise300___U2eJ {
    color: #a1e8ff
}

.styles_turquoise400__hhIzm {
    color: #81e1ff
}

.styles_turquoise500__iRQOR {
    color: #62d9ff
}

.styles_turquoise600__wPld_ {
    color: #4ccbf3
}

.styles_turquoise700__gJxlh {
    color: #34b4dc
}

.styles_turquoise800__7br7e {
    color: #0e8eb6
}

.styles_turquoise900__4vv4K {
    color: #006787
}

.styles_seaGreen50__JfSQ8 {
    color: #edfffe
}

.styles_seaGreen100__JVk2o {
    color: #d0fffd
}

.styles_seaGreen200__LxVx6 {
    color: #b0fffb
}

.styles_seaGreen300__S5BLb {
    color: #adfffb
}

.styles_seaGreen400__yRFDb {
    color: #a6fffa
}

.styles_seaGreen500__8Mx8S {
    color: #80fff8
}

.styles_seaGreen600__4ImtF {
    color: #5bf3eb
}

.styles_seaGreen700__QCQzs {
    color: #11d7cc
}

.styles_seaGreen800__bvgI0 {
    color: #00a199
}

.styles_seaGreen900__Mx5ar {
    color: #005652
}

.styles_green50__8xyNj {
    color: #f9fdf4
}

.styles_green100__tdNbM {
    color: #e7f8d1
}

.styles_green200__uIiZA {
    color: #cff2a3
}

.styles_green300__P513R {
    color: #b7eb76
}

.styles_green400__w8L1s {
    color: #a0e548
}

.styles_green500__83nXL {
    color: #88de1a
}

.styles_green600__a4sUK {
    color: #68ba00
}

.styles_green700__coCOU {
    color: #508f00
}

.styles_green800__vGT1Z {
    color: #396500
}

.styles_green900__A5ILr {
    color: #254300
}

.styles_success50__jSP3J {
    color: #f0fdf4
}

.styles_success100___QK2V {
    color: #dcfce7
}

.styles_success200__7kboI {
    color: #bbf7d0
}

.styles_success300__hcKw_ {
    color: #86efac
}

.styles_success400__Qn_Jm {
    color: #4ade80
}

.styles_success500__OKcUG {
    color: #22c55e
}

.styles_success600__shieo {
    color: #16a34a
}

.styles_success700__qjnVn {
    color: #15803d
}

.styles_success800__FSI3Q {
    color: #166534
}

.styles_success900__EGKG7 {
    color: #14532d
}

.styles_warning50__3q19r {
    color: #fffbeb
}

.styles_warning100__JXFeP {
    color: #fef3c7
}

.styles_warning200__D42f8 {
    color: #fde68a
}

.styles_warning300___GktA {
    color: #fcd34d
}

.styles_warning400__nEmi7 {
    color: #fbbf24
}

.styles_warning500__Dbuj9 {
    color: #f59e0b
}

.styles_warning600__my8jN {
    color: #d97706
}

.styles_warning700__mYjWF {
    color: #b45309
}

.styles_warning800__Qmij4 {
    color: #92400e
}

.styles_warning900__aoGhT {
    color: #78350f
}

.styles_destructive50__1TNHq {
    color: #fef2f2
}

.styles_destructive100__pjPdV {
    color: #fee2e2
}

.styles_destructive200__zFA6p {
    color: #fecaca
}

.styles_destructive300__C3iD5 {
    color: #fca5a5
}

.styles_destructive400__S9GAf {
    color: #f87171
}

.styles_destructive500__ANT31 {
    color: #ef4444
}

.styles_destructive600__SWwxv {
    color: #dc2626
}

.styles_destructive700__c4_s1 {
    color: #b91c1c
}

.styles_destructive800__Kpltg, .styles_destructive900__UdvU5 {
    color: #7f1d1d
}

.styles_button-container__DwLl_ {
    cursor: pointer;
    font: inherit;
    outline: inherit;
    padding: 0;
    transition: all .3s ease-in-out
}

.styles_button-container__DwLl_.styles_defaultSize__vvnb8 {
    width: 160px
}

.styles_button-container__DwLl_:disabled {
    cursor: not-allowed
}

.styles_button-container__DwLl_:focus {
    box-shadow: 0 0 2pt 1pt #c9b5ff
}

.styles_button-container-with-shadow__vnIkm:hover {
    box-shadow: 0 0 24px #d1d5db
}

.styles_dark-gradient__EGdqk {
    background: linear-gradient(114.6deg, #000 -5.14%, #1e1e1e 36.54%)
}

.styles_rating__MdOXd.styles_large__wDQzK {
    height: 40px;
    padding-left: 12px
}

.styles_rating__MdOXd.styles_large__wDQzK .styles_mark__OhNvV {
    width: 16px;
    height: 16px
}

.styles_rating__MdOXd.styles_medium__CN5WG {
    height: 28px;
    padding-left: 12px
}

.styles_rating__MdOXd.styles_medium__CN5WG .styles_mark__OhNvV {
    width: 12px;
    height: 12px
}

.styles_rating__MdOXd.styles_small__7q_Hp {
    height: 24px;
    padding-left: 8px
}

.styles_rating__MdOXd.styles_small__7q_Hp .styles_mark__OhNvV {
    width: 8px;
    height: 8px
}

.styles_blur___HjwI, .styles_centered-blur___Zeaj {
    animation: styles_blur___HjwI 2s ease 0s infinite
}

.styles_centered-blur___Zeaj {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@keyframes styles_blur___HjwI {
    to {
        filter: blur(25px)
    }

    50% {
        filter: blur(7px)
    }

    0% {
        filter: blur(25px)
    }
}

.styles_lightGrey500__jEsPs {
    color: #fefdff
}

.styles_lightGrey600__f5w2J {
    color: #fcfbff
}

.styles_lightGrey700___bZD_ {
    color: #fbfaff
}

.styles_lightGrey800__FVse_ {
    color: #faf8ff
}

.styles_lightGrey900__k7kdS {
    color: #f7f4ff
}

.styles_mediumGrey500__k2_og {
    color: #f8f8f8
}

.styles_mediumGrey600__N3RK1 {
    color: #f3f3f3
}

.styles_mediumGrey700__T2N3S {
    color: #ebebeb
}

.styles_mediumGrey800__5TgsC {
    color: #dfdfdf
}

.styles_mediumGrey900__vGxZH {
    color: #dadada
}

.styles_darkGrey500__N1UKj {
    color: #a3a3a3
}

.styles_darkGrey600__7OI39 {
    color: #707070
}

.styles_darkGrey700__9i9vn {
    color: #525252
}

.styles_darkGrey800__KIlyy {
    color: #424242
}

.styles_darkGrey900__xPOj_ {
    color: #2b2b2b
}

.styles_neutral50__kZqNG {
    color: #f9fafb
}

.styles_neutral100__tLlt6 {
    color: #f3f4f6
}

.styles_neutral200__4rAs8 {
    color: #e5e7eb
}

.styles_neutral300__0wcH9 {
    color: #d1d5db
}

.styles_neutral400__d_U30 {
    color: #9ca3af
}

.styles_neutral500__dNuUp {
    color: #6b7280
}

.styles_neutral600__MzLCq {
    color: #4b5563
}

.styles_neutral700__HI83O {
    color: #374151
}

.styles_neutral800__20otw {
    color: #1f2937
}

.styles_neutral900__gHC_N {
    color: #111827
}

.styles_light__5yy0A {
    color: #f2f2f0
}

.styles_dark__bmDBF {
    color: #484848
}

.styles_white__h6OaN {
    color: #fff
}

.styles_black__IN_Gm {
    color: #000
}

.styles_primary50__TU2bU {
    color: #f4f0ff
}

.styles_primary100__nu7oW {
    color: #e4daff
}

.styles_primary200__WKBMG {
    color: #c9b5ff
}

.styles_primary300__A6rDj {
    color: #ad91ff
}

.styles_primary400__luC1y {
    color: #926cff
}

.styles_primary500__mIOT0 {
    color: #7747ff
}

.styles_primary600__m4WT_ {
    color: #693af2
}

.styles_primary700__D1HkF {
    color: #5e2fe3
}

.styles_primary800__ikLBx {
    color: #4a1ec6
}

.styles_primary900__XzE__ {
    color: #2d117b
}

.styles_warm50__WkWq_ {
    color: #fffbf0
}

.styles_warm100__KFUB7 {
    color: #fff0cc
}

.styles_warm200__pZ0Sn {
    color: #ffe299
}

.styles_warm300__oonFx {
    color: #ffd366
}

.styles_warm400__OOoRw {
    color: #ffc533
}

.styles_warm500__P9EBn {
    color: #ffb600
}

.styles_warm600__e4Coy {
    color: #f2ad00
}

.styles_warm700__uveKI {
    color: #e4a300
}

.styles_warm800__YpBp_ {
    color: #c88f00
}

.styles_warm900__lxfcf {
    color: #a57600
}

.styles_hope50__OSZUv {
    color: #fffbfd
}

.styles_hope100__A4eXQ {
    color: #fff0f8
}

.styles_hope200__ICBWo {
    color: #ffe1f0
}

.styles_hope300__nVN8N {
    color: #ffd1e9
}

.styles_hope400__YZO5l {
    color: #ffc2e1
}

.styles_hope500__2Lv_O {
    color: #ffb3da
}

.styles_hope600__IVYej {
    color: #faa1cf
}

.styles_hope700__t2ev_ {
    color: #f283bd
}

.styles_hope800__xLiIS {
    color: #e760a6
}

.styles_hope900__WpoDb {
    color: #c22376
}

.styles_baby50__jrzyN {
    color: #fefbff
}

.styles_baby100__jDOBi {
    color: #fdf9fe
}

.styles_baby200__4fL_S {
    color: #faf2fd
}

.styles_baby300__LJgbY {
    color: #f8ecfb
}

.styles_baby400__Bcv9Q {
    color: #f5e5fa
}

.styles_baby500__CJcob {
    color: #f3dff9
}

.styles_baby600__iJTwf {
    color: #eecff8
}

.styles_baby700__TxPSP {
    color: #deb2ec
}

.styles_baby800__3Cz38 {
    color: #cc94de
}

.styles_baby900__4rg6z {
    color: #ac63c3
}

.styles_blue50__Q21Q9 {
    color: #f1f7ff
}

.styles_blue100__vytY_ {
    color: #d3e6ff
}

.styles_blue200__3u2_I {
    color: #a7cdff
}

.styles_blue300__0Vraf {
    color: #7bb4ff
}

.styles_blue400__a25uH {
    color: #4f9aff
}

.styles_blue500__aVIkh {
    color: #2381ff
}

.styles_blue600__y_KKc {
    color: #0d6ceb
}

.styles_blue700__hUCur {
    color: #0059d0
}

.styles_blue800__2OzXl {
    color: #004db4
}

.styles_blue900__fGEii {
    color: #00367e
}

.styles_turquoise50__GUV_A {
    color: #f5fdff
}

.styles_turquoise100__NjVP0 {
    color: #e0f7ff
}

.styles_turquoise200__Krx00 {
    color: #c0f0ff
}

.styles_turquoise300__j_dl7 {
    color: #a1e8ff
}

.styles_turquoise400__hSnwV {
    color: #81e1ff
}

.styles_turquoise500__ihyzl {
    color: #62d9ff
}

.styles_turquoise600__ypAEN {
    color: #4ccbf3
}

.styles_turquoise700__KK4S3 {
    color: #34b4dc
}

.styles_turquoise800__uvLGH {
    color: #0e8eb6
}

.styles_turquoise900__wlYkI {
    color: #006787
}

.styles_seaGreen50__Gfgfg {
    color: #edfffe
}

.styles_seaGreen100__zmF6e {
    color: #d0fffd
}

.styles_seaGreen200__8lznB {
    color: #b0fffb
}

.styles_seaGreen300__miNli {
    color: #adfffb
}

.styles_seaGreen400__eCSNp {
    color: #a6fffa
}

.styles_seaGreen500__HpiPF {
    color: #80fff8
}

.styles_seaGreen600__ctkYY {
    color: #5bf3eb
}

.styles_seaGreen700__i43K_ {
    color: #11d7cc
}

.styles_seaGreen800__v_dcy {
    color: #00a199
}

.styles_seaGreen900__cQx_O {
    color: #005652
}

.styles_green50__G1IMj {
    color: #f9fdf4
}

.styles_green100__XSbkH {
    color: #e7f8d1
}

.styles_green200__I3mJi {
    color: #cff2a3
}

.styles_green300__3UQLT {
    color: #b7eb76
}

.styles_green400__rclVH {
    color: #a0e548
}

.styles_green500__5lPGd {
    color: #88de1a
}

.styles_green600__P0XVg {
    color: #68ba00
}

.styles_green700__Ydw3e {
    color: #508f00
}

.styles_green800__Zo63U {
    color: #396500
}

.styles_green900___dqTI {
    color: #254300
}

.styles_success50__i1TEl {
    color: #f0fdf4
}

.styles_success100__POxon {
    color: #dcfce7
}

.styles_success200__2v3Ei {
    color: #bbf7d0
}

.styles_success300__HNnV2 {
    color: #86efac
}

.styles_success400__nWU07 {
    color: #4ade80
}

.styles_success500__gYns1 {
    color: #22c55e
}

.styles_success600__RF1bT {
    color: #16a34a
}

.styles_success700__WWsVT {
    color: #15803d
}

.styles_success800__lwvdi {
    color: #166534
}

.styles_success900__Nvdyd {
    color: #14532d
}

.styles_warning50__Qlux9 {
    color: #fffbeb
}

.styles_warning100__6jWNy {
    color: #fef3c7
}

.styles_warning200__ilGrh {
    color: #fde68a
}

.styles_warning300__JJfZM {
    color: #fcd34d
}

.styles_warning400__3cMAk {
    color: #fbbf24
}

.styles_warning500__gULPb {
    color: #f59e0b
}

.styles_warning600__lonAU {
    color: #d97706
}

.styles_warning700__xseaH {
    color: #b45309
}

.styles_warning800__7pN_S {
    color: #92400e
}

.styles_warning900__xOW7_ {
    color: #78350f
}

.styles_destructive50__2HFq7 {
    color: #fef2f2
}

.styles_destructive100__SXCcO {
    color: #fee2e2
}

.styles_destructive200__cc38Z {
    color: #fecaca
}

.styles_destructive300__aIJbB {
    color: #fca5a5
}

.styles_destructive400__ljPSQ {
    color: #f87171
}

.styles_destructive500__n4Orm {
    color: #ef4444
}

.styles_destructive600__ifZLq {
    color: #dc2626
}

.styles_destructive700__HlrEX {
    color: #b91c1c
}

.styles_destructive800__eN6RP, .styles_destructive900__qjbB2 {
    color: #7f1d1d
}

.styles_button-bar__H3I7V {
    background: #f3f4f6;
    border: 2px solid #d1d5db;
    color: #000;
    height: 32px;
    width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px
}

.styles_button-bar__H3I7V.styles_active__VCS3t {
    background: #e4daff;
    border-color: #5e2fe3;
    color: #5e2fe3
}

.styles_button-bar__H3I7V:first-child {
    border-radius: 4px 0 0 4px
}

.styles_button-bar__H3I7V:last-child {
    border-radius: 0 4px 4px 0
}

.styles_lightGrey500__HJuM6 {
    color: #fefdff
}

.styles_lightGrey600__tI5W8 {
    color: #fcfbff
}

.styles_lightGrey700__K4guj {
    color: #fbfaff
}

.styles_lightGrey800__YqFtk {
    color: #faf8ff
}

.styles_lightGrey900__ZmGn4 {
    color: #f7f4ff
}

.styles_mediumGrey500__3O5bF {
    color: #f8f8f8
}

.styles_mediumGrey600__Pzyv3 {
    color: #f3f3f3
}

.styles_mediumGrey700__rBRZD {
    color: #ebebeb
}

.styles_mediumGrey800__POFJT {
    color: #dfdfdf
}

.styles_mediumGrey900__Hmy6O {
    color: #dadada
}

.styles_darkGrey500__A2Gvz {
    color: #a3a3a3
}

.styles_darkGrey600__80gvo {
    color: #707070
}

.styles_darkGrey700___47Zy {
    color: #525252
}

.styles_darkGrey800__lE2Jq {
    color: #424242
}

.styles_darkGrey900__Bh_E1 {
    color: #2b2b2b
}

.styles_neutral50__RgN3S {
    color: #f9fafb
}

.styles_neutral100__MWe12 {
    color: #f3f4f6
}

.styles_neutral200__w3koO {
    color: #e5e7eb
}

.styles_neutral300__aOxGq {
    color: #d1d5db
}

.styles_neutral400__1INmH {
    color: #9ca3af
}

.styles_neutral500__Go9sB {
    color: #6b7280
}

.styles_neutral600__mEBSb {
    color: #4b5563
}

.styles_neutral700__5taqY {
    color: #374151
}

.styles_neutral800__oa1Rn {
    color: #1f2937
}

.styles_neutral900__BjzuX {
    color: #111827
}

.styles_light__ZVy_y {
    color: #f2f2f0
}

.styles_dark__HJkds {
    color: #484848
}

.styles_white__movtt {
    color: #fff
}

.styles_black__NK3kk {
    color: #000
}

.styles_primary50__N0bHR {
    color: #f4f0ff
}

.styles_primary100__jWwQx {
    color: #e4daff
}

.styles_primary200__HwEJT {
    color: #c9b5ff
}

.styles_primary300__QN22p {
    color: #ad91ff
}

.styles_primary400__cmy88 {
    color: #926cff
}

.styles_primary500__l8tB7 {
    color: #7747ff
}

.styles_primary600__lPtGV {
    color: #693af2
}

.styles_primary700__uLSXt {
    color: #5e2fe3
}

.styles_primary800__La0_u {
    color: #4a1ec6
}

.styles_primary900__WYe4k {
    color: #2d117b
}

.styles_warm50___F4_9 {
    color: #fffbf0
}

.styles_warm100__4VqlH {
    color: #fff0cc
}

.styles_warm200___3nAK {
    color: #ffe299
}

.styles_warm300__gxGs0 {
    color: #ffd366
}

.styles_warm400__OeMPC {
    color: #ffc533
}

.styles_warm500__HgaTA {
    color: #ffb600
}

.styles_warm600__LWNuH {
    color: #f2ad00
}

.styles_warm700__Ojlxo {
    color: #e4a300
}

.styles_warm800__qfNEX {
    color: #c88f00
}

.styles_warm900__ISFEq {
    color: #a57600
}

.styles_hope50__53hFk {
    color: #fffbfd
}

.styles_hope100__kSPBr {
    color: #fff0f8
}

.styles_hope200__xfXR8 {
    color: #ffe1f0
}

.styles_hope300__VKyu0 {
    color: #ffd1e9
}

.styles_hope400__8DQb3 {
    color: #ffc2e1
}

.styles_hope500__ZnZzQ {
    color: #ffb3da
}

.styles_hope600__hD0hI {
    color: #faa1cf
}

.styles_hope700__MDZfN {
    color: #f283bd
}

.styles_hope800__uSr8S {
    color: #e760a6
}

.styles_hope900__GOC3X {
    color: #c22376
}

.styles_baby50__UAu0Q {
    color: #fefbff
}

.styles_baby100__IoeEp {
    color: #fdf9fe
}

.styles_baby200__2bSG4 {
    color: #faf2fd
}

.styles_baby300__z40vQ {
    color: #f8ecfb
}

.styles_baby400__pY2i7 {
    color: #f5e5fa
}

.styles_baby500__hx9vt {
    color: #f3dff9
}

.styles_baby600__RMHcQ {
    color: #eecff8
}

.styles_baby700__LoShP {
    color: #deb2ec
}

.styles_baby800__42D9f {
    color: #cc94de
}

.styles_baby900__AFzab {
    color: #ac63c3
}

.styles_blue50__GUYXt {
    color: #f1f7ff
}

.styles_blue100__khqay {
    color: #d3e6ff
}

.styles_blue200__bj0Bn {
    color: #a7cdff
}

.styles_blue300__iCJf1 {
    color: #7bb4ff
}

.styles_blue400__6jzrX {
    color: #4f9aff
}

.styles_blue500__Hrf3R {
    color: #2381ff
}

.styles_blue600__b9ayE {
    color: #0d6ceb
}

.styles_blue700__pTPc9 {
    color: #0059d0
}

.styles_blue800__qi_H9 {
    color: #004db4
}

.styles_blue900__8lT6U {
    color: #00367e
}

.styles_turquoise50__zKs5b {
    color: #f5fdff
}

.styles_turquoise100__5Keu1 {
    color: #e0f7ff
}

.styles_turquoise200__6Lwd3 {
    color: #c0f0ff
}

.styles_turquoise300__tccpm {
    color: #a1e8ff
}

.styles_turquoise400__psyWH {
    color: #81e1ff
}

.styles_turquoise500__WOUc9 {
    color: #62d9ff
}

.styles_turquoise600___N2cV {
    color: #4ccbf3
}

.styles_turquoise700__SEjxQ {
    color: #34b4dc
}

.styles_turquoise800__Uuvat {
    color: #0e8eb6
}

.styles_turquoise900__tOHKh {
    color: #006787
}

.styles_seaGreen50__uPc56 {
    color: #edfffe
}

.styles_seaGreen100__VIrw8 {
    color: #d0fffd
}

.styles_seaGreen200__rw_be {
    color: #b0fffb
}

.styles_seaGreen300__zw70d {
    color: #adfffb
}

.styles_seaGreen400__XJ94f {
    color: #a6fffa
}

.styles_seaGreen500__1ZhLR {
    color: #80fff8
}

.styles_seaGreen600__JFs3I {
    color: #5bf3eb
}

.styles_seaGreen700__IYvVd {
    color: #11d7cc
}

.styles_seaGreen800__oWG8I {
    color: #00a199
}

.styles_seaGreen900__9ZTCH {
    color: #005652
}

.styles_green50__kVced {
    color: #f9fdf4
}

.styles_green100__jQH36 {
    color: #e7f8d1
}

.styles_green200__6DVPK {
    color: #cff2a3
}

.styles_green300__amJ_1 {
    color: #b7eb76
}

.styles_green400__QbkLJ {
    color: #a0e548
}

.styles_green500__6fzaI {
    color: #88de1a
}

.styles_green600__wlNiH {
    color: #68ba00
}

.styles_green700__GRFYP {
    color: #508f00
}

.styles_green800__KK77P {
    color: #396500
}

.styles_green900__Sjvmw {
    color: #254300
}

.styles_success50__e88bn {
    color: #f0fdf4
}

.styles_success100__jGnal {
    color: #dcfce7
}

.styles_success200__u52JQ {
    color: #bbf7d0
}

.styles_success300__k1EoR {
    color: #86efac
}

.styles_success400__5D2oQ {
    color: #4ade80
}

.styles_success500__kXOXY {
    color: #22c55e
}

.styles_success600__ebqEs {
    color: #16a34a
}

.styles_success700__6E3Nx {
    color: #15803d
}

.styles_success800__raEkT {
    color: #166534
}

.styles_success900__pSlAD {
    color: #14532d
}

.styles_warning50__nVuMG {
    color: #fffbeb
}

.styles_warning100__BtNxx {
    color: #fef3c7
}

.styles_warning200__4Orjz {
    color: #fde68a
}

.styles_warning300__JDUwf {
    color: #fcd34d
}

.styles_warning400__9wjI_ {
    color: #fbbf24
}

.styles_warning500__byXFD {
    color: #f59e0b
}

.styles_warning600__FK67X {
    color: #d97706
}

.styles_warning700__7rjD2 {
    color: #b45309
}

.styles_warning800__7mGaH {
    color: #92400e
}

.styles_warning900__EAi1V {
    color: #78350f
}

.styles_destructive50__Nnho8 {
    color: #fef2f2
}

.styles_destructive100__bbhS7 {
    color: #fee2e2
}

.styles_destructive200__Egrlk {
    color: #fecaca
}

.styles_destructive300__K8LoY {
    color: #fca5a5
}

.styles_destructive400__fqEyP {
    color: #f87171
}

.styles_destructive500__AGWwJ {
    color: #ef4444
}

.styles_destructive600__QvHUP {
    color: #dc2626
}

.styles_destructive700__Yz_sB {
    color: #b91c1c
}

.styles_destructive800__6Oedu, .styles_destructive900__GKR0j {
    color: #7f1d1d
}

.styles_no-input-arrows__D4SNG input::-webkit-inner-spin-button, .styles_no-input-arrows__D4SNG input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.styles_no-input-arrows__D4SNG input[type=number] {
    -moz-appearance: textfield
}

.styles_colorshadow__vBix8 {
    box-shadow: 0 8px 30px rgba(173, 145, 255, .16)
}

.styles_selectBox__RcjOM {
    margin: 0 auto;
    line-height: normal;
    width: 100%
}
